<!DOCTYPE html>
<html lang="en-GB">
    
<head>
    <title>Homepage</title>     
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="./assets/pocketTHERM.css" />
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    
    <!--------------- BDN boxicon link: --------------->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
    
<body>
    <!-------------------------- Begin: Sidebar ---------------------------->
    <div class="sidebar">
        <div class="logo-details">
            <i class='bx bxl-pocket' ></i>
            <span class="logo-name">pocketTHERM</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="./">
                    <i class='bx bxs-home'></i>
                    <span class="link-name">Home</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a href="#" class="link-name">Homepage</a></li>
                </ul>
            </li>

            <!------------------------ Calculators: ------------------------>
            <li>
                <div class="icon-link">
                    <a href="#">
                        <i class='bx bx-math' ></i>
                        <span class="link-name">Calculators</span>
                    </a>
                    <i class='bx bx-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a href="#" class="link-name">Calculators</a></li>
                    <li><a href="./pocketORC.html">pocketORC</a><li>
                    <li><a href="./pocketHP.html">pocketHP</a></li>
                </ul>
            </li>     

            <!-------------------------- Lessons: -------------------------->
            <li>
                <div class="icon-link">
                    <a href="#">
                        <i class='bx bxs-book-content'></i>
                        <span class="link-name">ORC lessons</span>
                    </a>
                    <i class='bx bx-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a href="#" class="link-name">ORC lessons</a></li>
                    <li><a href="./lesson1.html">1. Saturated states</a></li>
                    <li><a href="./lesson2.html">2. Single-phase states</a></li>
                    <li><a href="./lesson3.html">3. Ideal and real cycles</a></li>
                    <li><a href="./lesson4.html">4. Recuperation</a></li>
                    <li><a href="./lesson5.html">5. Heat source and sink</a></li>
                    <li><a href="./lesson6.html">6. Alternative cycles</a></li>
                </ul>
            </li>  
        </ul>
        <div class="profile-details">
            <div class="profile-content"></div>
            <div class="name-job">
                <div class="profile-name">Dr. Martin T. White</div>
            </div>
            <a href="https://www.linkedin.com/in/martin-t-white"><i class='bx bxl-linkedin-square'></i></a>
        </div>   
    </div> 
    <!--------------------------- END of sidebar: ---------------------------->

    <!--------------------------- Homepage Content: -------------------------->
    <section class="home-section">
        <div class="home-content">
            <i class="bx bx-menu"></i>
            <!-- <span class="text">Web calculators for thermal energy systems</span> -->
            <h1>Web calculators for thermal energy systems</h1>
        </div>
        <hr><p>&nbsp</p>

        <div class="introduction">
            <h2>Introduction</h2>
            <p>&nbsp</p>
            <p>pocketORC and pocketHP are steady-state design models for organic Rankine cycle (ORC) power plants and heat pumps. Both models operate straight from the browser (and hence from the phone in your pocket). The underlying models are written in the Python programming language and the PyScript framework is used to call Python code directly from HTML.</p>
            <p>&nbsp</p>
            <p>pocketORC and pocketHP are intended to be used as teaching aids to explore basic principles relating to both systems, whilst also serving as pocket calculators for people working within the field.</p>
            <p>&nbsp</p>
        </div>

        <div class="body-content">
            
            <a href="./pocketORC.html">
                <div class="container">
                    <img src="./assets/pocketORC_schematics_crop.png" alt="orc" class="image">          
                    <div class="overlay" href="./pocketORC.html">
                        <div class="text">pocketORC</div>
                    </div>
                </div>
            </a>
            
            <a href="./pocketHP.html">
                <div class="container">
                    <img src="./assets/pocketHP_schematics_crop.png" alt="hp" class="image">
                    <div class="overlay">
                        <div class="text">pocketHP</div>
                    </div>
                </div>
            </a>

        </div>
        
        <!--------------------------- Footer: --------------------------->
        <hr><p>&nbsp</p>
        <footer> <small>&copy; Copyright 2023, Martin T. White</small><p>&nbsp</p>
            <small>The contribution of Piyathida Suwannakat through her summer internship funded by the Royal Academy of Engineering is also gratefully acknowledged. <a href="https://raeng.org.uk/news/academy-leverages-its-unrivalled-networks-to-secure-internships-for-eight-engineering-undergraduates">Click here for more details</a></small><p>&nbsp</p></footer> 
    </section>

    <!------------------------ Functionality: sidebar ----------------------->
    <script>
        let arrow = document.querySelectorAll(".arrow");
        for (var i = 0; i < arrow.length; i++) {
            arrow[i].addEventListener("click", (e)=>{
            let arrowParent = e.target.parentElement.parentElement;
            arrowParent.classList.toggle("showMenu");
            });
        }

        let sidebar = document.querySelector(".sidebar");
        let sidebarMenu = document.querySelector(".bx-menu");
        
        sidebarMenu.addEventListener("click", ()=>{
            sidebar.classList.toggle("close");
        });
    </script>

</body>
</html>